<div id="container">
  <!---->
  <table cellspacing="10">
    <tbody>
      <tr>
        <th style="text-align: right">Empresa:</th>
        <td>New Horizons</td>
      </tr>
      <tr>
        <th style="text-align: right">E-mail:</th>
        <td>jguerra@newhorizons.pe</td>
      </tr>
      <tr>
        <th style="text-align: right; vertical-align: text-top">Desarrollo:</th>
        <td>
          Aplicacion en Angular 12,<br />
          Mostrar el uso de routing<br />
          Enero 2022
        </td>
      </tr>
    </tbody>
  </table>
</div>
