<div style="text-align: center">
  <h1>Bienvenido a {{ title }}!</h1>
  <h2>
    Leer <a href="https://angular.io/start">Sitio Oficial de Angular</a> y
    <a
      href="https://blog.angular.io/angular-v12-is-nowavailable-
  32ed51fbfd49"
      >Datos de Angular 12</a
    >
  </h2>
  <a
    [routerLink]="[
      { outlets: { primary: ['products'], sidebar: ['products'] } }
    ]"
  >
    Productos
  </a>
</div>
<div>
  <div style="float: right">
    <router-outlet></router-outlet>
  </div>
  <div style="float: left">
    <router-outlet name="sidebar"></router-outlet>
  </div>
  <div style="float: center">
    <app-home></app-home>
  </div>
</div>
