<section class="nga-gradient text-white">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <div class="text-center">
          <h1 class="mt-2 display-4 fw-bold">Angular</h1>
          <h2 class="h1">Aplicacion Web - General</h2>
          <hr />
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0">
        <div class="position-lg-absolute top-0 left-0 overflow-hidden">
          <img
            src="./assets/params/images/home/demarrer-avec-angular.png"
            srcset="
              ./assets/params/images/home/demarrer-avec-angular.png,
              ./assets/params/images/home/demarrer-avec-angular@2x.png 2x
            "
            alt="Trabajando con Angular"
            width="360"
            height="350"
          />
        </div>
      </div>
    </div>
  </div>
</section>
